
/*
*
*	Keep variables of all colors that are used in the design
*
*/

$green: #01a6a0;

$lightergrey: #e5e5e5;
$lightgrey: #ededed;
$grey: #eaeaea;
$darkgrey: #4e4e4e;
$darkestgrey: #1d1d1b;

$footerGrey: #5c5c5c;

$hoverGrey: #565656;

$blue: #0a1e75;
$lightBlue: #0120a6;
$lighterBlue: #2b45b5;

@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}

@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

* {
	margin: 0;
	padding: 0;
}

/*
*
*	Default font = Arial & font-size = 1em
*
*/

body, html {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 1em;
    -webkit-text-size-adjust: 1em; /* 2 */
    -ms-text-size-adjust: 1em; /* 2 */
}

h1 {
	font-family: 'Helvetica';
	font-size: 4.5em;
	margin: 0;
}

h2 {
	font-family: 'Helvetica';
	font-size: 4em;
	color: $blue;
	font-weight: lighter;
	margin: 0 0 50px 0;

	text-align: center;
}

h3 {
	font-size: 2.5em;
	margin: 0;
}

h4 {
	font-size: 1.6em;
	font-weight: bold;
	margin: 0;
	color: black;
}

ul {
	list-style: none;
}

.bold {
	font-weight: bold;
}

/*
*
*	set the default container width to 2024px
*
*/

.container {
	@media (min-width: 1200px) {
		width: 1024px;
	}

	@media (max-width: 991px) {
		width: 100%;
		//margin: 0 15px;
	}
}

.input-field {
	height: 28px;
	margin: 11px 0;

	&.input-footer {
		margin: 18px 0 0 0;
		input {
			&[type="text"] {
				height: 28px;
				width: 183px;
			}
		}
	}

	input {
		padding-left: 20px;
		font-size: 1.5em;
		&[type="text"] {
			height: 28px;
			width: calc(100%/1024*207);
			border: 1px solid $lightgrey;
			border-radius: 4px;
			color: $darkestgrey;
		}

		&[type="submit"] {
			background-color: transparent;
			border: none;
			text-indent: -9999px;
			background: url('/images/icons/search.png') no-repeat;
			width: 18px;
			height: 18px;
			margin-left: 8px;
		}

		@include placeholder {
			color: $darkestgrey;
			font-style: italic;
			font-weight: normal;
			opacity: 1;
		}
	}
}

// class for Blue overlay on headers
.blue-overlay {
	background-color: $lightBlue;
	opacity: 0.651;
}

// icon of blue overlay
.overlay-icon {
	position: absolute;
	top: -16px;
	left: -16px;
	background-color: white;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	z-index: 1;

	.inner {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		background-color: $green;
		border-radius: 50%;
		width: 18px;
		height: 18px;
	}
}

/*
*
*	CSS of the Navigation
*
*/

nav {
	z-index: 1;
	a {
		text-transform: uppercase;
	}

	&.navbar-default {
		position: absolute;
		top: 0;
		width: 100%;

		background-color: white;
		border: none;
		border-top: 4px solid $green;
		border-radius: 0;
		margin: 0;

		.container {
			padding: 0;
			@media (max-width: 991px) {
				padding: 0 15px;
			}
			.navbar-header {

				.navbar-toggle {
					border: none;

					&:hover {
						background-color: $lightgrey;
					}

					.icon-bar {
						background-color: $darkgrey;
					}
				}

				.navbar-brand {
					position: absolute;
					top: -4px;
					background-image: url('/images/logo.png');
					background-repeat: no-repeat;
					background-size: contain;
				    width: 103px;
				    height: 140px;

				    text-indent: -99999px;
					margin: 0;
					
					@media (max-width: 767px) {
						margin: 0 0 0 15px;
					}

				    box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
				    z-index: 99;
				}
			}

			.information {
				padding-left: 170px;

				@media (max-width: 767px) {
					padding-left: 0;

					.navigation {
						padding: 0 10px;
						ul {
							padding-left: 0;
							width: 100%;

							li {
								height: 50px;

								a {
									line-height: 50px;
									border: none !important;
									//width: 100%;
								}

								&:nth-child(1) {
									&::before {
										margin: 20px 10px 20px 0 !important;
									}
								}

								&:nth-child(2) {
									&::before {
										margin: 18px 10px 18px 0 !important;
									}
								}

								&:last-child {
									padding-left: 0 !important;
								}
							}
						}
					}
				}

				@media (min-width: 768px) and (max-width: 991px) {
					padding-left: 100px;
				}

				.navigation {
					border: none;

					@media (max-width: 767px) {
						margin-top: 90px;
					}

					ul {
						margin: 15px 0;
						@media (max-width: 767px) {
							display: inline-block;
						}
						li {
							font-size: 1.3em;

							&:nth-child(1) {
								&:before {
									content: "";
									display: block;
									background: url('/images/icons/watchlist.png') no-repeat;
									width: 11px;
									height: 10px;
									float: left;
									margin: 5px 10px 5px 0;
								}

								a {
									border-right: 1px solid $blue;
									float: left;
									padding-right: 20px;
								}
							}

							&:nth-child(2) {
								&:before {
									content: "";
									display: block;
									background: url('/images/icons/profile.png') no-repeat;
									width: 13px;
									height: 14px;
									margin: 3px 10px 3px 20px;
									float: left;
								}

								a {
									border-right: 1px solid $blue;
									float: left;
									padding-right: 20px;
								}
							}

							a {
								padding: 0;
								color: $blue;
							}

							&:last-child {
								padding-left: 20px;
							}
						}
					}
				}
			}
		}

		.main-navigation {
			background-color: $grey;
			height: 50px;

			@media (max-width: 767px) {
				height: auto;
			}

			.container {
				.navigation {
					ul {
						&:first-child {
							padding-left: 170px;
							margin-top: 0; 
							@media (max-width: 767px) {
								padding: 0;
								li {
									margin: 0;
									padding: 0 25px;

									&:hover {
										background-color: darken($grey, 8);
									}
								}
							}
							@media (min-width: 768px) and (max-width: 991px) {
								padding-left: 100px;
							}
						}

						&:last-child {
							font-weight: normal;
							color: $blue;

							@media (max-width: 768px) {
								padding: 0 25px;
								text-align: center;
								li {
									height: 50px;
									width: 50px;
									float: left;

									&:hover {
										background-color: darken($grey, 8);
									}
								}
							}

							li {
								a {
									font-weight: normal;
									color: $blue;
								}

								&.active {
									a {
										background-color: transparent;
										font-weight: bold !important;
									}
								}
							}
						}

						li {
							font-size: 1.5em;
	  						font-weight: bold;
	  						font-family: "Arial";
							margin-right: 30px;
							
							@media (max-width: 991px) {
								font-size: 1.2em;
								margin-right: 25px;
							}

							a {
								color: $darkgrey;
								padding: 0;
								line-height: 50px;
							}
						}
					}
				}
			}
		}
	}
}

/*
*
*	Home page
*
*/

.background {
	background: url('/images/background.jpg') no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;

	z-index: 0;

	.carousel {
		position: absolute;
		bottom: 100px;
		width: 100%;
		height: 190px;
		@media (max-width: 991px) {
			padding: 0 15px;
			height: auto;
		}

		@media (max-width: 767px) {
			bottom: 15px;
		}
		.container {
			position: relative;
			height: 100%;
			padding: 0;

			display: flex;
			align-items: center;

			p {
				font-size: 1.5em;
				color: white;
				padding: 0 50px;
				margin: 0;

				@media (max-width: 991px) {
					padding: 25px 50px;
				}

				@media (max-width: 767px) {
					padding: 15px;
					font-size: 1.2em;
				}
			}
		}
	}
}


.how {
	height: auto;
	padding: 50px 0;

	.container {
		.row {
			text-align: center;

			div {
				padding: 0 20px;
				@media (min-width: 991px) {
					padding: 0 60px;
				}

				&:nth-child(1), &:nth-child(2), &:nth-child(3) {
					.icon {
						background-size: auto;
						width: 117px;
						height: 117px;
						margin: 0 auto;
					}
				}  

				&:nth-child(1) {
					.icon {
						background: url('/images/pen.png') no-repeat;
					}
				}

				&:nth-child(2) {
					.icon {
						background: url('/images/check.png') no-repeat;
					}
				}

				&:nth-child(3) {
					.icon {
						background: url('/images/smile.png') no-repeat;
					}
				}

				h3 {
					font-size: 2.5em;
					margin: 35px 0 10px 0;
				}

				p {
					font-size: 1.5em;
				}
			}
		}
	}
}

.popular {
	background-color: $grey;
	padding: 50px 0 100px 0;

	.container {
		.row {
			@media (max-width: 991px) {
				padding: 0 15px;
			}

			div {
				padding: 0;
				&.col-md-4 {
					width: calc(100%/1024*314);
					@media (max-width: 767px) {
						width: 100%;
					}

					div {
						&.overlay {
							a {
								display: none;
								.svg-icon {
									position: absolute;
									left: 50%;
									top: 50%;
									transform: translate(-50%, -50%);
									background: url('/images/icons/search.svg');
									background-size: contain;
									background-repeat: no-repeat;
									width: calc(100%/702*115); 
									height: calc(100%/348*113);
									z-index: 1;
								}

								.transparent {
									position: absolute;
									background-color: $hoverGrey;
									height: 100%;
									width: 100%;
									opacity: 0.702;
								}
							}

							&:hover {
								a {
									display: block;
								}
							}
						}

						img {
							width: 100%;
						}
						&:first-child {
							margin-bottom: 7.5px;
						}
					}
				}

				&.col-md-8 {
					background-color: blue;
					width: calc(100%/1024*702);
					margin-left: calc(100%/1024*8);

					@media (max-width: 767px) {
						width: 100%;
						margin: 7.5px 0 0 0;
					}

					&.overlay {
						@include transition(3s ease);
						a {
							display: none;
							.svg-icon {
								position: absolute;
								left: 50%;
								top: 50%;
								transform: translate(-50%, -50%);
								background: url('/images/icons/search.svg');
								background-size: contain;
								background-repeat: no-repeat;
								width: calc(100%/702*115); 
								height: calc(100%/348*113);
								z-index: 1;
							}

							.transparent {
								position: absolute;
								background-color: $hoverGrey;
								height: 100%;
								width: 100%;
								opacity: 0.702;
							}
						}

						&:hover {
							@include transition(3s ease);
							a {
								display: block;
							}
						}
					}

					img {
						width: 100%;
					}
				}

				div {
					padding: 0;
				}
			}
		}
	}
}

/*
*
*	CSS of the ISEARCH page
*
*/
.isearch-bg {
	background: url('/images/isearch-bg.jpg');
	background-size: cover;
	background-position-x: center;
	background-repeat: no-repeat;
	height: 536px;
	width: 100%;
	
	.container {
		padding-top: 104px;
		height: 100%;

		.info {
			position: relative;
			height: calc(100%/432*332);
			margin: 50px 0;
			width: 314px;

			color: white;
			.icon {
				.inner {

				}
			}

			.top {
				height: calc(100%/332*252);
				// padding: 30px 30px 0 30px;

				h1 {
					font-family: "Helvetica", sans-serif;
					font-size: 3em;
					font-weight: lighter;
					padding: 30px 0 0 30px;
					height: 71px;

					border-bottom: 1px solid $lighterBlue;
				}
				p {
					margin: 0;
					font-size: 1.5em;
					padding: 21px 30px 0 30px;
				}

				span {
					padding-left: 30px;
					margin-top: 14px;
					display: inline-block;

					&.bold {
						font-size: 1.5em;
					}

					&.euro-size {
						font-size: 1.8em;
						padding-left: 0;
					}
				}
			}

			.bottom {
				display: inline-block;
				background-color: white;
				height: calc(100%/332*80);
				width: 100%;
				color: $green;
				padding-left: 30px;
				font-size: 2em;
				text-transform: uppercase;

				display: flex;
    			align-items: center;

				span {
					display: inline-block;
					background: url('/images/icons/link-arrow.png');
					background-repeat: no-repeat;
					height: 22px;
					width: 11px;
					margin-left: 20px;
				}

				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

/*
*
*	CSS of the Footer
*
*/
.footer {
	height: 566px;
	padding: 0 15px;
	@media (max-width: 767px) {
		height: auto;
	}
	.line {
		padding-top: 100px;
		border-bottom: 1px solid $lightergrey;
	}
	.container {
		padding-top: 40px;

		.row {
			div {
				padding: 0;
				&::after {
					clear: both;
					display: block;
					content: "";
				}

				.contact {
					float: left;
					margin-top: 30px;

					ul {
						margin: 0;
						li {
							color: $footerGrey;
							font-size: 1.5em;

							&:nth-child(3) {
								margin-bottom: 30px;
							}

							a {
								color: $green;
								text-decoration: underline;
							}
						}

						&.social-media {
							margin-top: 25px;
							li {
								margin: 0 5px 0 0;
								float: left;
								a {
									background: url('/images/social-media.svg');
									background-repeat: no-repeat;
									background-size: cover;
									text-indent: -10000px;
									display: inline-block;
									height: 31px;
									width: 31px;
								}

								&:nth-child(2) {
									a {
										background-position-x: -29px;
									}
								}

								&:nth-child(3) {
									a {
										background-position-x: -59px;
									}
								}

								&:nth-child(4) {
									a {
										background-position-x: -89px;
									}
								}
							}
						}
					}
				}
				nav {

					&::after {
						display: block;
						content: "";
						clear: both;
					}

					h4 {
						@media (max-width: 767px) {
							display: none;
						}
					}
					ul {
						.dropdown {
							a {
								display: none;
								
								@media (max-width: 767px) {
									display: block;
									color: black;
									font-weight: bold;
									padding-left: 0;
								}
							}
							.dropdown-menu {
								font-weight: normal;
								font-size: 1em;
								@media (min-width: 768px) {
									position: static;
									display: block;
									border: none;
									box-shadow: none;
									font-size: 1em;
								}
								li {
									a {
										font-weight: normal;
										color: $green;
										@media (min-width: 768px) {
											display: block;
											padding-left: 0;
										}
									}
								}
							}
						}
					}
					ul {
						font-size: 1.4em;
						margin: 0 0 15px 0;
						li {
							line-height: 1.3em;
							a {
								text-transform: none;
								color: $green;
							}
						}
					}
				}
			}
		}

		&.copy {
			padding-top: 0;
			p {
				text-align: right;
				font-size: 1.2em;
				color: rgb(119, 119, 119);
				line-height: 1.5;
				margin: 0;
			}
		}
	}
}

footer {
	background: $grey;
	height: 50px;
	box-sizing: content-box;
	border-bottom: 4px solid $green;
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
	.container {
		height: 100%;
		.logo {
			background-image: url('/images/bottomLogo.png');
			background-repeat: no-repeat;
			background-size: contain;
			width: 103px;
			height: 140px;

			position: absolute;
			bottom: -4px;
			box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
		}
		nav {
			ul {
				margin: 0;
				padding-left: 170px;

				&.language {
					padding-left: 0;
					font-size: 1.3em;

					li {
						a {
							font-weight: normal;
							color: $blue;
							//line-height: 50px;
						}
					}
				}

				&:first-child {
					li {
						font-weight: bold;
						margin-right: 30px;
						a {
							font-size: 1.5em;
							color: $darkgrey;
							padding: 0;
							line-height: 50px;
						}
					}
				}
			}
		}
	}
}
