/*
*
*	Keep variables of all colors that are used in the design
*
*/
* {
  margin: 0;
  padding: 0; }

/*
*
*	Default font = Arial & font-size = 1em
*
*/
body, html {
  height: 100%; }

body {
  font-family: Arial, sans-serif;
  font-size: 1em;
  -webkit-text-size-adjust: 1em;
  /* 2 */
  -ms-text-size-adjust: 1em;
  /* 2 */ }

h1 {
  font-family: 'Helvetica';
  font-size: 4.5em; }

h2 {
  font-family: 'Helvetica';
  font-size: 4em;
  color: #0a1e75;
  font-weight: lighter;
  margin: 0 0 50px 0;
  text-align: center; }

h3 {
  font-size: 2.5em;
  margin: 0; }

h4 {
  font-size: 1.6em;
  font-weight: bold;
  margin: 0;
  color: black; }

ul {
  list-style: none; }

/*
*
*	set the default container width to 2024px
*
*/
@media (min-width: 1200px) {
  .container {
    width: 1024px; } }

@media (max-width: 991px) {
  .container {
    width: 100%; } }

/*
*
*	CSS of the Navigation
*
*/
nav {
  z-index: 1; }
  nav a {
    text-transform: uppercase; }
  nav.navbar-default {
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    border: none;
    border-top: 4px solid #01a6a0;
    border-radius: 0;
    margin: 0; }
    nav.navbar-default .container {
      padding: 0; }
      @media (max-width: 991px) {
        nav.navbar-default .container {
          padding: 0 15px; } }
      nav.navbar-default .container .navbar-header .navbar-toggle {
        border: none; }
        nav.navbar-default .container .navbar-header .navbar-toggle:hover {
          background-color: #ededed; }
        nav.navbar-default .container .navbar-header .navbar-toggle .icon-bar {
          background-color: #4e4e4e; }
      nav.navbar-default .container .navbar-header .navbar-brand {
        position: absolute;
        top: -4px;
        background-image: url("/images/logo.png");
        background-repeat: no-repeat;
        background-size: contain;
        width: 103px;
        height: 140px;
        text-indent: -99999px;
        margin: 0;
        box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19);
        z-index: 99; }
        @media (max-width: 767px) {
          nav.navbar-default .container .navbar-header .navbar-brand {
            margin: 0 0 0 15px; } }
      nav.navbar-default .container .information {
        padding-left: 170px; }
        @media (max-width: 767px) {
          nav.navbar-default .container .information {
            padding-left: 0; }
            nav.navbar-default .container .information .navigation {
              padding: 0 10px; }
              nav.navbar-default .container .information .navigation ul {
                padding-left: 0;
                width: 100%; }
                nav.navbar-default .container .information .navigation ul li {
                  height: 50px; }
                  nav.navbar-default .container .information .navigation ul li a {
                    line-height: 50px;
                    border: none !important; }
                  nav.navbar-default .container .information .navigation ul li:nth-child(1)::before {
                    margin: 20px 10px 20px 0 !important; }
                  nav.navbar-default .container .information .navigation ul li:nth-child(2)::before {
                    margin: 18px 10px 18px 0 !important; }
                  nav.navbar-default .container .information .navigation ul li:last-child {
                    padding-left: 0 !important; } }
        @media (min-width: 768px) and (max-width: 991px) {
          nav.navbar-default .container .information {
            padding-left: 100px; } }
        nav.navbar-default .container .information .navigation {
          border: none; }
          @media (max-width: 767px) {
            nav.navbar-default .container .information .navigation {
              margin-top: 90px; } }
          nav.navbar-default .container .information .navigation ul {
            margin: 15px 0; }
            @media (max-width: 767px) {
              nav.navbar-default .container .information .navigation ul {
                display: inline-block; } }
            nav.navbar-default .container .information .navigation ul li {
              font-size: 1.3em; }
              nav.navbar-default .container .information .navigation ul li:nth-child(1):before {
                content: "";
                display: block;
                background: url("/images/icons/watchlist.png") no-repeat;
                width: 11px;
                height: 10px;
                float: left;
                margin: 5px 10px 5px 0; }
              nav.navbar-default .container .information .navigation ul li:nth-child(1) a {
                border-right: 1px solid #0a1e75;
                float: left;
                padding-right: 20px; }
              nav.navbar-default .container .information .navigation ul li:nth-child(2):before {
                content: "";
                display: block;
                background: url("/images/icons/profile.png") no-repeat;
                width: 13px;
                height: 14px;
                margin: 3px 10px 3px 20px;
                float: left; }
              nav.navbar-default .container .information .navigation ul li:nth-child(2) a {
                border-right: 1px solid #0a1e75;
                float: left;
                padding-right: 20px; }
              nav.navbar-default .container .information .navigation ul li a {
                padding: 0;
                color: #0a1e75; }
              nav.navbar-default .container .information .navigation ul li:last-child {
                padding-left: 20px; }
          nav.navbar-default .container .information .navigation form {
            height: 28px;
            margin: 11px 0; }
            nav.navbar-default .container .information .navigation form input {
              padding-left: 20px;
              font-size: 1.5em; }
              nav.navbar-default .container .information .navigation form input[type="text"] {
                height: 28px;
                width: 207px;
                border: 1px solid #ededed;
                border-radius: 4px;
                color: #1d1d1b; }
              nav.navbar-default .container .information .navigation form input[type="submit"] {
                background-color: transparent;
                border: none;
                text-indent: -9999px;
                background: url("/images/icons/search.png") no-repeat;
                width: 18px;
                height: 18px;
                margin-left: 8px; }
              nav.navbar-default .container .information .navigation form input::-webkit-input-placeholder {
                color: #1d1d1b;
                font-style: italic;
                font-weight: normal;
                opacity: 1; }
              nav.navbar-default .container .information .navigation form input:-moz-placeholder {
                color: #1d1d1b;
                font-style: italic;
                font-weight: normal;
                opacity: 1; }
              nav.navbar-default .container .information .navigation form input::-moz-placeholder {
                color: #1d1d1b;
                font-style: italic;
                font-weight: normal;
                opacity: 1; }
              nav.navbar-default .container .information .navigation form input:-ms-input-placeholder {
                color: #1d1d1b;
                font-style: italic;
                font-weight: normal;
                opacity: 1; }
    nav.navbar-default .main-navigation {
      background-color: #eaeaea;
      height: 50px; }
      @media (max-width: 767px) {
        nav.navbar-default .main-navigation {
          height: auto; } }
      nav.navbar-default .main-navigation .container .navigation ul:first-child {
        padding-left: 170px;
        margin-top: 0; }
        @media (max-width: 767px) {
          nav.navbar-default .main-navigation .container .navigation ul:first-child {
            padding: 0; }
            nav.navbar-default .main-navigation .container .navigation ul:first-child li {
              margin: 0;
              padding: 0 25px; }
              nav.navbar-default .main-navigation .container .navigation ul:first-child li:hover {
                background-color: #d6d6d6; } }
        @media (min-width: 768px) and (max-width: 991px) {
          nav.navbar-default .main-navigation .container .navigation ul:first-child {
            padding-left: 100px; } }
      nav.navbar-default .main-navigation .container .navigation ul:last-child {
        font-weight: normal;
        color: #0a1e75; }
        @media (max-width: 768px) {
          nav.navbar-default .main-navigation .container .navigation ul:last-child {
            padding: 0 25px;
            text-align: center; }
            nav.navbar-default .main-navigation .container .navigation ul:last-child li {
              height: 50px;
              width: 50px;
              float: left; }
              nav.navbar-default .main-navigation .container .navigation ul:last-child li:hover {
                background-color: #d6d6d6; } }
        nav.navbar-default .main-navigation .container .navigation ul:last-child li a {
          font-weight: normal;
          color: #0a1e75; }
        nav.navbar-default .main-navigation .container .navigation ul:last-child li.active a {
          background-color: transparent;
          font-weight: bold !important; }
      nav.navbar-default .main-navigation .container .navigation ul li {
        font-size: 1.5em;
        font-weight: bold;
        font-family: "Arial";
        margin-right: 30px; }
        @media (max-width: 991px) {
          nav.navbar-default .main-navigation .container .navigation ul li {
            font-size: 1.2em;
            margin-right: 25px; } }
        nav.navbar-default .main-navigation .container .navigation ul li a {
          color: #4e4e4e;
          padding: 0;
          line-height: 50px; }

/*
*
*	Home page
*
*/
.background {
  background: url("/images/background.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 0; }
  .background .carousel {
    position: absolute;
    bottom: 100px;
    width: 100%;
    height: 190px; }
    @media (max-width: 991px) {
      .background .carousel {
        padding: 0 15px;
        height: auto; } }
    @media (max-width: 767px) {
      .background .carousel {
        bottom: 15px; } }
    .background .carousel .container {
      position: relative;
      height: 100%;
      background-color: #0120a6;
      opacity: 0.651;
      padding: 0;
      display: flex;
      align-items: center; }
      .background .carousel .container .icon {
        position: absolute;
        top: -16px;
        left: -16px;
        background-color: white;
        border-radius: 50%;
        width: 32px;
        height: 32px; }
        .background .carousel .container .icon .inner {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background-color: #01a6a0;
          border-radius: 50%;
          width: 18px;
          height: 18px; }
      .background .carousel .container p {
        font-size: 1.5em;
        color: white;
        padding: 0 50px;
        margin: 0; }
        @media (max-width: 991px) {
          .background .carousel .container p {
            padding: 25px 50px; } }
        @media (max-width: 767px) {
          .background .carousel .container p {
            padding: 15px;
            font-size: 1.2em; } }

.how {
  height: auto;
  padding: 50px 0; }
  .how .container .row {
    text-align: center; }
    .how .container .row div {
      padding: 0 20px; }
      @media (min-width: 991px) {
        .how .container .row div {
          padding: 0 60px; } }
      .how .container .row div:nth-child(1) .icon, .how .container .row div:nth-child(2) .icon, .how .container .row div:nth-child(3) .icon {
        background-size: auto;
        width: 117px;
        height: 117px;
        margin: 0 auto; }
      .how .container .row div:nth-child(1) .icon {
        background: url("/images/pen.png") no-repeat; }
      .how .container .row div:nth-child(2) .icon {
        background: url("/images/check.png") no-repeat; }
      .how .container .row div:nth-child(3) .icon {
        background: url("/images/smile.png") no-repeat; }
      .how .container .row div h3 {
        font-size: 2.5em;
        margin: 35px 0 10px 0; }
      .how .container .row div p {
        font-size: 1.5em; }

.popular {
  background-color: #eaeaea;
  padding: 50px 0 100px 0; }
  @media (max-width: 991px) {
    .popular .container .row {
      padding: 0 15px; } }
  .popular .container .row div {
    padding: 0; }
    .popular .container .row div.col-md-4 {
      width: calc(100%/1024*314); }
      @media (max-width: 767px) {
        .popular .container .row div.col-md-4 {
          width: 100%; } }
      .popular .container .row div.col-md-4 div.overlay a {
        display: none; }
        .popular .container .row div.col-md-4 div.overlay a .svg-icon {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          background: url("/images/icons/search.svg");
          background-size: contain;
          background-repeat: no-repeat;
          width: calc(100%/702*115);
          height: calc(100%/348*113);
          z-index: 1; }
        .popular .container .row div.col-md-4 div.overlay a .transparent {
          position: absolute;
          background-color: #565656;
          height: 100%;
          width: 100%;
          opacity: 0.702; }
      .popular .container .row div.col-md-4 div.overlay:hover a {
        display: block; }
      .popular .container .row div.col-md-4 div img {
        width: 100%; }
      .popular .container .row div.col-md-4 div:first-child {
        margin-bottom: 7.5px; }
    .popular .container .row div.col-md-8 {
      background-color: blue;
      width: calc(100%/1024*702);
      margin-left: calc(100%/1024*8); }
      @media (max-width: 767px) {
        .popular .container .row div.col-md-8 {
          width: 100%;
          margin: 7.5px 0 0 0; } }
      .popular .container .row div.col-md-8.overlay {
        -moz-transition: 3s ease;
        -o-transition: 3s ease;
        -webkit-transition: 3s ease;
        transition: 3s ease; }
        .popular .container .row div.col-md-8.overlay a {
          display: none; }
          .popular .container .row div.col-md-8.overlay a .svg-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: url("/images/icons/search.svg");
            background-size: contain;
            background-repeat: no-repeat;
            width: calc(100%/702*115);
            height: calc(100%/348*113);
            z-index: 1; }
          .popular .container .row div.col-md-8.overlay a .transparent {
            position: absolute;
            background-color: #565656;
            height: 100%;
            width: 100%;
            opacity: 0.702; }
        .popular .container .row div.col-md-8.overlay:hover {
          -moz-transition: 3s ease;
          -o-transition: 3s ease;
          -webkit-transition: 3s ease;
          transition: 3s ease; }
          .popular .container .row div.col-md-8.overlay:hover a {
            display: block; }
      .popular .container .row div.col-md-8 img {
        width: 100%; }
    .popular .container .row div div {
      padding: 0; }

/*
*
*	CSS of the Footer
*
*/
.footer {
  height: 566px; }
  @media (max-width: 767px) {
    .footer {
      height: auto; } }
  .footer .line {
    padding-top: 100px;
    border-bottom: 1px solid #e5e5e5; }
  .footer .container {
    padding-top: 40px; }
    .footer .container .row nav ul {
      font-size: 1.4em;
      margin: 0 0 15px 0; }
      .footer .container .row nav ul li {
        line-height: 1.225em; }
        .footer .container .row nav ul li a {
          text-transform: none;
          color: #01a6a0; }

footer {
  background: #eaeaea;
  height: 50px;
  box-sizing: content-box;
  border-bottom: 4px solid #01a6a0;
  display: flex;
  align-items: center;
  position: relative; }
  footer .container {
    height: 100%; }
    footer .container .logo {
      background-image: url("/images/bottomLogo.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 103px;
      height: 140px;
      position: absolute;
      bottom: -4px;
      box-shadow: 0px 0px 24px 0px rgba(1, 1, 1, 0.19); }
    footer .container nav ul {
      margin: 0;
      padding-left: 170px; }
      footer .container nav ul.language {
        padding-left: 0;
        font-size: 1.3em; }
        footer .container nav ul.language li a {
          font-weight: normal;
          color: #0a1e75; }
      footer .container nav ul:first-child li {
        font-weight: bold;
        margin-right: 30px; }
        footer .container nav ul:first-child li a {
          font-size: 1.5em;
          color: #4e4e4e;
          padding: 0;
          line-height: 50px; }
